---

import '../styles/global.css';
console.log("hello world");
const title = "hello astro ";
const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`, {
	method: "POST",
	body: JSON.stringify({
		query: `
		query PageQuery {
			nodeByUri(uri: "/") {
				... on Page {
					id
					blocks
				}
			}
		}
		`
	})
});
const data = await response.json();
console.log({data});	
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<h1 class="bg-amber-700">{title}</h1>
	</body>
</html>