---
import "../styles/global.css";
import BlockRenderer from "../components/BlockRenderer.astro";
import type { Block } from "@wp-block-tools/styles";
const response = await fetch(`${import.meta.env.PUBLIC_WPGRAPHQL_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" }, // ✅ konieczne dla WPGraphQL
  body: JSON.stringify({
    query: `
			query PageQuery {
			cssVariables
				nodeByUri(uri: "/") {
					... on Page {
						id
						blocks
					}
				}
			}
			`,
  }),
});
//mmooje
const data = await response.json();
const blocks = (data?.data?.nodeByUri?.blocks || []) as Block[];
console.log(import.meta.env.PUBLIC_WPGRAPHQL_URL);
// console.log(data?.data?.nodeByUri);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <style>
      :root {
        --css--variables--i--here: black;
      }
    </style>

    {!!data.cssVariables && <style set:html={`:root{${data.cssVariables}}`} />}
  </head>
  <body>
    <BlockRenderer blocks={blocks} />
  </body>
</html>
