---
// moj
import "../styles/global.css";
import BlockRenderer from "../components/BlockRenderer.astro";

import type { Block } from "@wp-block-tools/styles";
import CommonHead from "../components/CommonHead.astro";
const response = await fetch(`${import.meta.env.PUBLIC_WPGRAPHQL_URL}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" }, // ✅ konieczne dla WPGraphQL
  body: JSON.stringify({
    query: `
			query PageQuery {
				nodeByUri(uri: "/") {
					... on Page {
						id
						blocks
						  seo {
									metaDesc
									title
								}
					}
				}
			}
			`,
  }),
});
//mmooje
const data = await response.json();
const blocks = (data?.data?.nodeByUri?.blocks || []) as Block[];
const seo = data?.data?.nodeByUri?.seo || {};
---

<html lang="en">
  <CommonHead
    title={seo.title || "Default Title"}
    description={seo.metaDesc || "Default description"}
  />
  <body>
    <BlockRenderer blocks={blocks} />
  </body>
</html>
