---
import '../styles/global.css';
import BlockRenderer from '../components/BlockRenderer.astro';
console.log("hello world");
const title = "hello astro ";
const response = await fetch(`${import.meta.env.PUBLIC_WPGRAPHQL_URL}`, {
	method: "POST",
  headers: { "Content-Type": "application/json" }, // ✅ konieczne dla WPGraphQL
	body: JSON.stringify({
		query: `
			query PageQuery {
				nodeByUri(uri: "/") {
					... on Page {
						id
						blocks
					}
				}
			}
		`
	})
});
//mmooje
const data = await response.json();
console.log(data?.data?.nodeByUri);
const blocks = data?.data?.nodeByUri?.blocks || [];
console.log(import.meta.env.PUBLIC_WPGRAPHQL_URL);
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		 <BlockRenderer blocks={blocks} />
	</body>
</html>